body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

.text-big {
    font-family: 'Open Sans', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
}

.text-small {
    font-family: 'Open Sans', serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}